.details-summary{
    width: 45%;
    margin-bottom: 10px;
    .config{
        display: flex;
        padding: 2px 10px;
        .left-side{
            font-weight: 700;
            width: 70%;
        }
        .right-side{
            width: 30%;
        }
        &.total{
            border-top: 1px solid;
            border-bottom: 1px solid;
            text-transform: uppercase   ;
        }
        .car-details{
            font-weight: 100;
        }
    }
}